body.homepage .bs-sidebar{
    display: none;
    }

.ms-md-auto{
    display: none;
    }

a:not(#img-link) {
        font-weight: bold;
    }

.docimg{ width: 20em;  }

img[src*='#left'] {
    padding-right: 2em;
    float: left;
}
img[src*='#right'] {
    float: right;
}